<section class="sec2">
  <div class="main-container">

    <div class="about-wrapper">
      <div class="about-me">
        <h4 class="textcolored">More about me</h4>
        <p class="textcolored">I am a Filipino programmer and currently living in Pasig, Philippines. </p>
        <p class="textcolored">I am an IT graduate, at St. John Bosco Institute of Arts and Sciences.</p>
        <p class="textcolored">I also graduated, in a TESDA accredited School, at Pasig City Institute of Arts and Sciences with a Computer System Servicing course</p>
        <p class="textcolored">Currently, I am studying web design bootcamps in <a href="https://www.udemy.com">udemy.com</a> and <a href="https://www.codecademy.com/">codecademy.com</a>. </p>
        <hr>

        <h4 class="textcolored">My Skills</h4>

        <p class="textcolored">Focusing on Express + React: <a target="_blank" href="#">Download Resume</a></p>

        <div id="skills">
          <ul>
            <li>Express</li>
            <li>JavaScript</li>
            <li>Node.js</li>
            <li>EJS</li>
          </ul>

          <ul>
            <li>openweather API</li>
            <li>MongoDB/Mongoose</li>
            <li>Heroku</li>
            <li>HTML/CSS</li>
          </ul>

        </div>

      </div>


      <div class="social-links">
        <img id="social_img" src="images/fbinsta.jpg">
        <h3>Find me on Facebook or Instagram</h3>

        <a target="_blank" href="https://www.facebook.com/322CaloyGG">Facebook: John Carlo Garado</a>
        <br>
        <a target="_blank" href="https://www.instagram.com/jcaloygarads/"> Instagram: @jcaloygarads</a>
      </div>
    </div>

  </div>
</section>
