<section class="sec1">
  <div class="main-container">
    <div class="greeting-text">
      <h1>Hello, I'm John Garado</h1>
    </div>
    <div class="nav-wrapper">
      <div id="navigation">
        <a href="#">Contact</a>
      </div>
      <button class="btn" type="button" data-toggle="collapse" data-target="#textCollapse" aria-expanded="false" aria-controls="textCollapse">
        =
      </button>

    </div>
    <div class="intro-text collapse show" id="textCollapse">
      <div class="left-column">
        <img id="profile_pic" src="images/johngarado.jpg" alt="an image of me">
        <h5 style="text-align: center;">Personalize Theme</h5>
        <div id="theme-options-wrapper">
          <a href="/"><div id="light-mode"  class="themeDot"></div></a>
          <a href="/bluetheme"><div id="blue-mode" class="themeDot"></div></a>
          <a href="/greentheme"><div id="green-mode" class="themeDot"></div></a>
          <a href="/purpletheme"><div id="purple-mode"  class="themeDot"></div></a>
        </div>

        <p id="settings-note">Press this to change theme</p>
      </div>

      <div class="right-column">
        <div id="preview-shadow">

          <div id="preview">
            <div id="corner-tl" class="corner"></div>
            <div id="corner-tr" class="corner"></div>
            <h3>What I Do</h3>
            <p>I am an IT graduate, currently focusing on Web Development.</p>
            <div id="corner-br" class="corner"></div>
            <div id="corner-bl" class="corner"></div>
          </div>
        </div>

      </div>

    </div>

  </div>
</section>
