<section class="sec1">
  <div class="main-container">
    <h3 style="text-align: center;">My Projects</h3>

    <div class="post-wrapper">
      <div>
        <div class="post">
          <img class="thumbnail" src="myworks.jpg">
          <div class="post-preview">
            <h6 class="post-title">Company portfolio</h6>
            <p class="post-intro">Simple interactive website with a little bit of backend web development</p>
            <a href="/myworks">Read more..</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
